@import './App.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--black);
  background-color: var(--white-transparent);
  display: flex;
}

.container-form {
  width: 100%;
  padding: 20px 0;
  font-size: large;
  text-align: center;
}