@import './App.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  min-height: 100dvh;
  @apply bg-gradient-to-b from-yellow-200 to-orange-300;
}

.container-form {
  width: 100%;
  padding: 20px 0;
  font-size: large;
  text-align: center;
}